{% extends 'Basic.html' %}
{% load static %}
{% block title %} About Us Page{% endblock title %}

{% block css %}
    .about{
margin-top:8%;
}
.about .row{
display:flex;
alig-items:center;
flex-wrap:wrap;
gap:2rem;
}
.about .row .image{
flex:1 1 45rem;
}
.about .row .image img{
width:40%;
height:300px;
}
.about .row .content{
flex:1 1 45rem;
}
.about .row .content h3{
color:var(--black);
text-shadow:var(--text-shadow);
font-size:4rem;
line-height:1.8;
}
.about .row .content p{
color:var(--light-color);
padding:1rem;
font-size:1.5rem;
line-height:1.8;
}
button{
padding: 1rem 2rem;
background-color: green;
color: white;
border-radius: 10%;
border-color: blue;
margin: 2px;
}
button:hover{
border-color: green;
background-color: blue;
}
{% endblock css %}

{% block body %}

<h1> About Section start here</h1>
    <section class="about" id="about">
    <div class="row">
        <div class="image">
        <img src="{% static 'images\HD4.jpg' %}" alt="img>"
    </div>
    <div class="content">
        <h3>Customers Trust And Our Believe</h3>
        <p>One of the website you ever made or develop it so awesome and beautiful that is why One of the website you ever made or develop it so awesome and beautiful that is why One of the website you ever made or develop it so awesome and beautiful that is why</p>
        <a href="#" class="btn"><button>Kearn More</button></a>
    </div>
    </div>
    </section>

{% endblock body %}

{% block js %}{% endblock js %}